/* Google fonts */

/* variables css */
.not-ready {
  color: red;
}

:root {
  --header-height: 3rem;

  /* Colors */
  --title-color: #1b5bf7;
  --button-color: rgb(27, 91, 247);
  --button-hover: rgb(14, 65, 195);
  --text-color: rgb(70, 67, 89);
  /* Font  */

  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smallest-font-size: 0.75rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Margents */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* Z-index property*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Hamburger */

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--title-color);
}

@media screen and (max-width: 768px) {
  :root {
    --biggest-font-size: 3.6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smallest-font-size: 0.813rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ==== BASE ==== */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: #ffffff;
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ==== Class css ==== */
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  font-size: var(--smallest-font-size);
  font-weight: var(--font-semi-bold);
}

/* ==== LAYOUT ==== {Omadbek} */
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.first-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #f4f7ff;
}

/* ==== NAV==== */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #f4f7ff;
    transition: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link {
  color: #1d1a2f;
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 900;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* ==== Shoving menu ==== */
.show-menu {
  top: var(--header-height);
}

/* ====Active menu ==== {Omadbek} */
.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 75%;
  height: 3px;
  background-color: #1b5bf7;
}

/* ==== Changing background header ===={Omadbek} */
.scroll-header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__link {
  color: black;
  transition: 0.3s;
}

/* ==== Scroll top icon {Omadbek} ==== */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: #2c68ff;
  color: white;
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #0b4df4;
}

/* ==== Show scroll top {Omadbek} ==== */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/* {Omadbek} +++ HOME +++ */
.home {
  background-color: #f4f7ff;
  overflow: hidden;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
  row-gap: 2rem;
}

.home__data {
  border-left: 4px solid #1b5bf7;
  padding-left: 1.4rem;
  z-index: var(--z-tooltip);
}

.home__name {
  font-size: var(--biggest-font-size);
  color: #1d1a2f;
}

.home__greeting,
.home__profession {
  display: block;
  font-weight: var(--font-bold);
}

.home__greeting {
  font-size: 0.813rem;
}

.home__profession {
  font-size: 0.938rem;
  margin-bottom: var(--mb-3);
  color: #1b5bf7;
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home__img img {
  width: 240px;
}

.home__social-icon {
  width: max-content;
  font-size: 1.3rem;
  margin-bottom: var(--mb-2);
  margin-right: 1.3rem;
  transition: 0.2s;
}

/* BUTTON {omadbek} */

.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--button-hover);
}

.button-white:hover {
  background-color: var(--first-color-lighten);
}

.button-link {
  background: none;
  color: var(--title-color);
  padding: 0;
}

.button-link:hover {
  background: none;
}

/* === ABOUT ==== omadbek */

.about__data {
  text-align: center;
}

.about__description {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__number {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  display: block;
}

.about__img {
  justify-self: center;
  width: 220px;
  border-radius: 0.5rem;
}

.about__container .about__description {
  text-align: center;
}

/* Qualification */
.qualification__container {
  row-gap: 2.5rem;
}

.qualification__title {
  font-size: var(--h3-font-size);
  color: #1d1a2f;
  margin-bottom: var(--mb-2);
  display: flex;
  align-items: center;
}

.qualification__title-icon {
  font-size: 1.5rem;
  margin-right: var(--mb-1);
}

.qualification__box {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.qualification__area {
  font-size: var(--normal-font-size);
  color: #1d1a2f;
  margin-bottom: var(--mb-1);
}

.qualification__icon,
.qualification__work {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

.qualification__work {
  display: block;
}

/* =====Service =========== */
.services__data {
  padding: 3rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: rgba(174, 190, 205, 0.3);
  transition: 0.4s;
}

.services__icon,
.services__title {
  margin-bottom: var(--mb-2);
  color: var(--title-color);
}

.services__icon {
  font-size: 3rem;
}

.services__title {
  font-size: var(--h3-font-size);
}

.services__description {
  margin-bottom: var(--mb-4);
}

.services__data:hover {
  transform: translateY(-0.6rem);
  box-shadow: rgba(174, 190, 205, 0.4);
}

/* =====PROJECT IN YOUR MIND {omadbek}=========== */
.project__container {
  padding: 1.5rem 1rem;
  background-color: #f4f7ff;
  color: var(--text-color);
  border-radius: 0.5rem;
  text-align: center;
}

.project__icon,
.project__title {
  margin-bottom: var(--mb-1);
}

.project__icon {
  font-size: 3.5rem;
}

.project__title {
  font-size: 1.5rem;
}

.project__description {
  margin-bottom: var(--mb-4);
}

/* ===== Portfolio =========== */

.portfolio__nav {
  text-align: center;
  margin-bottom: var(--mb-3);
}

.portfolio__item {
  margin: 0 var(--mb-2);
  cursor: pointer;
}

.portfolio__content {
  background-color: #f4f7ff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
  padding: 0 10px 10px;
}

.portfolio__img {
  width: 100%;
  transition: 0.5s;
}

.portfolio__data {
  padding: 1.5rem;
}

.portfolio__subtitle {
  font-size: var(--small-font-size);
  color: black;
}

.portfolio__title {
  font-size: var(--h3-font-size);
  color: black;
  margin: var(--mb-2) 0;
}

.portfolio__content:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.portfolio__content:hover .portfolio__img {
  transform: scale(1.04);
}

/* Active portfolio */

.active-portfolio {
  color: var(--first-color-dark);
  font-weight: var(--font-semi-bold);
}

/* === Testimonial section === */
.testimonial__content {
  display: grid;
  background-color: #f4f7ff;
  color: var(--first-color-lighten);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(47, 10, 13, 0.25);
}

.testimonial__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.testimonial__client {
  font-size: var(--small-font-size);
  color: var(--first-color-light);
  margin-bottom: var(--mb-2);
}

.swiper-pagination {
  position: inherit;
  margin-top: 0.7rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--title-color);
}

/* CONTACT ME SECTION */
.contact__container {
  row-gap: 2.5rem;
}

.contact__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.contact-box {
  background-color: #f4f7ff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.contact__icon,
.contact__title {
  color: var(--title-color);
}

.contact__icon {
  font-size: 2rem;
}

.contact__title {
  font-size: var(--h3-font-size);
  margin: var(--mb-1) 0;
}

.contact__social {
  color: var(--first-color-light);
  margin: 0 var(--mb-1);
  font-size: 1.25rem;
}

.contact-box:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.contact__input,
.contact__button {
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.contact__input {
  width: 100%;
  padding: 1rem;
  border: 2px solid #b4bec8;
  color: var(--title-color);
  border-radius: 0.5rem;
  margin-bottom: var(--mb-1);
}

.contact::placeholder {
  color: var(--first-color-light);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
}

.contact__button {
  cursor: pointer;
  border: none;
}

/* FOOTER */
.footer {
  background-color: #f4f7ff;
  color: var(--text-color);
  text-align: center;
}

.footer__container {
  padding: 3rem 0;
}

.footer__title {
  color: black;
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  margin-bottom: var(--mb-3);
}

.footer__social {
  margin-bottom: var(--mb-6);
}

.footer__link {
  font-size: 1.4rem;
  color: var(--first-color-lighten);
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.footer__link:hover {
  color: var(--first-color-light);
}

.footer__copy {
  font-size: var(--small-font-size);
  color: var(--first-color-light);
}

/* ========================== */
/* ====== MEDIA QUERIES ======*/
/* ========================== */

@media screen and (min-width: 576px) {
  .home__img img {
    width: 330px;
  }

  .qualification__container,
  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__data {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }

  .contact__form {
    width: 450px;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 6rem;
  }

  .section-title {
    margin-bottom: var(--mb-5);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .home__container {
    height: 100vh;
    grid-template-rows: max-content 0.5fr;
    align-content: flex-end;
  }

  .home__greeting {
    font-size: 1.25rem;
  }

  .home__profession {
    font-size: 2rem;
  }

  .home__social {
    flex-direction: row;
    align-items: center;
  }

  .home__social-icon {
    margin-right: var(--mb-4);
    margin-bottom: 0;
  }

  .home__img img {
    width: 440px;
  }

  .about__description {
    text-align: initial;
  }

  .about__img {
    width: 300px;
  }

  .qualification__box {
    display: flex;
    justify-content: space-between;
  }

  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .project__container {
    padding: 4.5rem 0;
  }

  .project__data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .project__icon,
  .portfolio__title,
  .project__description {
    margin-bottom: 0;
  }

  .project__icon {
    font-size: 6rem;
  }

  .project__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .qualification__container {
    column-gap: 6rem;
  }
}
